body{
    color: whitesmoke;
    background-color: rgb(58, 42, 66);
    font-family: Calibri, Sans-serif;
}


a {color:black;}

nav{background-color: slateblue}

nav a {color: white}
nav {color: white}

nav a:hover {background-color:black;}

.robot{
    float:right;
}

nav{
    padding:10px;
    margin-bottom: 30px;
    background-color:slateblue;
}

.homepage{
    border: 10px solid black
    margin: 25px;
    padding: 10px;
    background-color: slateblue;
    border-radius: 25px;
}


